.header {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top {
  display: flex;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: rgba(233, 216, 66);
  align-items: center;
  font-size: 20px;
}

.header-bottom {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.header-bottom-breadcrumbs{
  color: rgba(233, 216, 66);
  margin-left: 5px;
}

.navbar{
  margin-left: 20px;
}

.navbar-item-logo{
  display: block;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */
  background-color: rgba(233, 216, 66, 0.685);
  margin: 0;
}

.navbar a {
  color: rgba(233, 216, 66);
  text-decoration: none;
}

.navbar-item-logo-img{
  filter: invert(83%) sepia(48%) saturate(6491%) hue-rotate(1deg) brightness(107%) contrast(103%);
}

.content{
  margin:50px;
  padding: 20px;
  box-shadow: 0 0 4px rgb(134, 134, 134);
  text-align: center;
}

.pollEditTitle{
  margin-bottom: 30px; 
}

.pollEditTitle span{
  box-shadow: 0 0 3px rgb(134, 134, 134);
  padding: 7px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: bold;
  color:rgba(233, 216, 66);
}

.pollEditQuestions{
  text-align: left;
  padding-left: 30px;
}

.pollEditQuestions-question{
  font-weight: bold;
}

.pollEditQuestions-question-number{
  color:rgba(233, 216, 66);
}

.pollEditQuestions-answers{
  padding-top: 15px;
  padding-left: 60px;
}

.pollEditQuestions-answers-answer{
  margin-top: 5px
}

.pollEditQuestions-answers-answer-checkbox{
  margin-right: 5px;
}

.pollEditQuestions-answers-answer-radio{
  margin-right: 5px;
}

.btn-icon {
  background-color: rgba(233, 216, 66, 0);
  border: solid;
  border-color: rgba(233, 216, 66);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-width: 2px;
}

/* Darker background on mouse-over */
.btn-icon:hover {
  background-color: rgba(233, 216, 66);
}

.addIconButton {
  filter: invert(83%) sepia(48%) saturate(6491%) hue-rotate(1deg) brightness(107%) contrast(103%);
  margin-right: 7px;
  vertical-align:middle;
}

.pollEditNextPreviousQuestion {
  margin-top: 30px;
}

input[type=text] {
  width: 50%;
  box-sizing: border-box;
  border-color: #0000ff30;
  border-width: 1px;
  border-radius: 3px;
  padding: 7px;
}

.classNameInputPollEdit{
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
}

button:focus {
  outline:0;
}

.removeIconImg{
  vertical-align:middle;
}

.classNameInput{
  border: none;
  background-color: #f0efef;
  color: rgb(0, 0, 0);
  padding-left: 0;
}

.classNameInput:focus{
  outline: 0;
}

.btn-paging {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.margin-right{
  margin-right: 10px;
}

.textareaComment{
  margin: 10px;
  margin-left: 23px;
  width: 50%;
}

.pollQuestionScoreTitle{
   color: orange;
   margin-bottom: 30px;
   font-size: 20px;
}

.pollQuestionScoreName{
  margin-bottom: 20px;
  text-align: left;
}

.pollQuestionScoreChart{
  margin-left: 100px;
}

.tableScore{
  margin-left: 100px;
  text-align: left;
}

.tableScore-heading{
  background-color: rgb(241, 240, 240);
}

.tableScore-rows{
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
}

.poll_question {
  margin-bottom: 50px;
}

.pointer{
  cursor: pointer; 
}














/* ------------------------------------------------REACT TOGGLE------------------------------------------------ */

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}